POSTGRES_DB=xr_trading
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
MARKET_INFO_DATABASE_URL=postgres://postgres:postgres@localhost:5432/xr_trading?sslmode=disable&options=-c%20role%3Dxr_market_data_owner
